<%- include('partials/header.ejs') %>

  <main> 
    <body>
      <section class="home" style="height:100vh;">
        <div class="description">
          <h1 class="title">
            <span class="gradient-text">TechSolutions Inc.</span> with the Best
          </h1>
          <p class="paragraph">
            In a world filled with opportunities, having a mentor can make all the
            difference. Explore why people turn to this invaluable resource to
            unlock their potential.
          </p>
          <form id="form" autocomplete="off">
            <input type="email" id="email-id" name="email_address" aria-label="email adress" placeholder="" required
              oninput="checkEmpty()" />
            <button type="submit" class="btn" aria-label="submit">
              <span>Subscribe</span>
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </button>
          </form>
        </div>

        <div class="users-color-container">
          <span class="item" style="--i: 1"></span>
          <img class="item"
            src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/274f29ce-0d3f-4ac2-a2aa-f9b7bd188b2a"
            style="--i: 2" alt="" />
          <span class="item" style="--i: 3"></span>
          <img class="item"
            src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/b8a14493-3d9f-4b9b-b93a-56d0bc7243e9"
            style="--i: 4" alt="" />

          <img class="item"
            src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/03e51e1e-9750-45a5-b75e-a1e341d4562a"
            style="--i: 10" alt="" />
          <span class="item" style="--i: 11"></span>
          <img class="item"
            src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/5eb50f89-3e5a-480e-860c-8d40d3ba9ffe"
            style="--i: 12" alt="" />
          <span class="item" style="--i: 5"></span>

          <span class="item" style="--i: 9"></span>
          <img class="item"
            src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/86c71a79-2efe-4567-8665-b1e5a1fd9735"
            style="--i: 8" alt="" />
          <span class="item" style="--i: 7"></span>
          <img class="item"
            src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/97ef9643-5202-41aa-80f0-ceeabccdd099"
            style="--i: 6" alt="" />
        </div>
      </section>


      <section class="card-container" id="card-container">
        <h1 class="gradient-text" style='font-size:xxx-large; text-align: center;'>Build A Future Strategy!</h1>
        <p class="paragraph" style="font-size:larger; color: white;text-align: center;">Our success in creating business
          solutions is due in large part to
          our talented and highly committed team.
        </p>
        
        <div class="slider" >

          <div class="card">
            <div class="content">
              <div>
              <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/10088b1a-c0aa-42a9-8dff-1a692eb597d6"
                alt="" />
              <h1>Personalized Guidance</h1>
              <p>
                Whether you are pursuing a career change, entrepreneurship, or
                personal development, a mentor offers substantial advice and
                support to navigate your unique path.
              </p>
              </div>
              <div>
              <button class="btn btn">
                <span>Learn More</span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </button>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="content">
              <div>
              <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/69fb8584-66a0-4ecd-bae5-dd00015a1ad5"
                alt="" />
              <h1>Accelerated Growth</h1>
              <p>
                With a mentor, you can fast-track your journey to success. Benefit
                from their experience and tap into their knowledge, helping you
                avoid common pitfalls.
              </p>
            </div>
            <div>
              <button class="btn btn">
                <span>Learn More</span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </button>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="content">
              <div>
              <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/d49bdb0f-c717-4063-abe4-869cb3bc8b4e"
                alt="" />
              <h1>Inspiration & Motivation</h1>
              <p>
                A mentor isn't just an advisor; they are a source of inspiration
                and motivation. They can help you to set and achieve ambitious
                goals and gain your self-confident.
              </p>
            </div>
            <div>
              <div>
              <button class="btn btn">
                <span>Learn More</span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </button>
              </div>
            </div>
            </div>
          </div>

          <div class="card" >
            <div class="content">
              <div>
              <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/fd1d57e3-de8a-438a-9e9a-952ae65a776e"
                alt="" />
              <h1>Networking & Connections</h1>
              <p>
                Your mentor can open doors to valuable connections and
                opportunities. They can introduce you to their network and help
                you build meaningful relationships.
              </p>
            </div>
            <div>
              <button class="btn btn">
                <span>Learn More</span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </button>
              </div>
            </div>
          </div>
        </div>
        
      </section>

      <section>
        <div class="card-container" id="card-container" style="min-height: 0vh;">
          <h1 class="gradient-text" style='font-size:xxx-large; text-align: center;'>Build A Future Strategy!</h1>
          <p class="paragraph" style="font-size:larger; color: white;text-align: center;">Our success in creating business solutions is due in large part to
            our talented and highly committed team.
          </p>
        </div>
        <div class="card-container1" style="display: flex; flex-direction:column; min-height:0vh; flex-wrap: wrap;width:100%;height: 100vh;">
          <div style="position: relative; width: 30%; height:100%;" class="image-container">
            <iframe style="position: absolute;left:-150px; height: 700px; width:700px; border: none;" src="https://lottie.host/embed/012f2bf9-07f8-4348-9f69-23f3a9f1dcc8/Ntjyp2sQXq.json"></iframe>
            <img src="/images/person01.jpg" style="height: 50px; width: 50px; border-radius: 50%; position: absolute; left: 20%; top: 20%;" />
            <img src="/images/person02.jpg" style="height: 60px; width: 60px; border-radius: 50%; position: absolute; left: 55%; top: 30%;" />
            <img src="/images/person04.jpg" style="height: 70px; width: 70px; border-radius: 50%; position: absolute; left: 3%; top: 40%;" />
            <img src="/images/person01.jpg" style="height: 50px; width: 50px; border-radius: 50%; position: absolute; left: 50%; top:50%;" />
            <img src="/images/person05.jpg" style="height: 50px; width: 50px; border-radius: 50%; position: absolute; left: 15%; top:62%;" />
            <img src="/images/person01.jpg" style="height: 80px; width: 80px; border-radius: 50%; position: absolute; left: 60%; top:70%;" />
          </div>
          <div style="width:40%;">
            <h1 class="gradient-text" style='font-size:xxx-large; text-align: center;'>Trusted by Millions of Customers.</h1>
            <p style="font-size:larger; color: white;text-align: center;">Our success in creating business solutions is due in large part
              spacially to talented and highly committed team.
            </p>
          </div>
          <div style="position: relative; width:35%; height: 100vh;" class="image-container" >
            <iframe style="position: absolute;left:-150px; height: 700px; width:700px; border: none;" src="https://lottie.host/embed/bee10adc-50cf-48d1-b40f-024dbc4c326c/YPZQ2Qx6ZU.json"></iframe>
            <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/274f29ce-0d3f-4ac2-a2aa-f9b7bd188b2a" style="height: 60px; width: 60px; border-radius: 50%; position: absolute; left: 20%; top: 20%;" />
            <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/b8a14493-3d9f-4b9b-b93a-56d0bc7243e9" style="height: 60px; width: 60px; border-radius: 50%; position: absolute; left: 55%; top: 30%;" />
            <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/03e51e1e-9750-45a5-b75e-a1e341d4562a" style="height: 70px; width: 70px; border-radius: 50%; position: absolute; left: 3%; top: 40%;" />
            <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/86c71a79-2efe-4567-8665-b1e5a1fd9735" style="height: 50px; width: 50px; border-radius: 50%; position: absolute; left: 50%; top:50%;" />
            <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/97ef9643-5202-41aa-80f0-ceeabccdd099" style="height: 50px; width: 50px; border-radius: 50%; position: absolute; left: 15%; top:62%;" />
            <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/b8a14493-3d9f-4b9b-b93a-56d0bc7243e9" style="height: 80px; width: 80px; border-radius: 50%; position: absolute; left: 50%; top:65%;" />
          </div>
        </div>
      </section>
      
    </body>
  </main>

  <%- include('partials/footer.ejs') %>